@import "../common.scss";
.menu {
  position: relative;
}

.menu__title {
  padding: 12px 9px;
  white-space: nowrap;
  cursor: pointer;
  background-color: $deep-blue-2;
}

.menu__title--selected {
  background-color: $normal-blue-1;
  color: #fff;
}

.menu__title:hover:not(.menu__title--selected) {
  color: $shallow-blue-1;
}

.menu__icon {
  display: inline-block;
  font-size: 22px;
  margin-right: 9px;
  vertical-align: middle;
}

.menu__sub-menu--hover {
  position: absolute;
  top: 0;
  left: 100%;
}
