@import "../common.scss";

.search-box {
  font-size: 15px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-box__input {
  width: 162px;
}

.search-box__btn {
  margin-left: 15px;
}
