@import "../common.scss";
.table-nav {
  display: flex;
  flex-direction: row;
  margin-top: 18px;
}

.table {
  width: 100%;
  font-size: 13px;
  margin-top: 13px;
}

.table th {
  text-align: start;
}

.table th:first-child,
.table td:first-child {
  padding-left: 20px;
}

.table__head,
.table__tfoot {
  background-color: #fff;
  border: 1px solid $normal-grey-2;
}

.table th,
.table td {
  padding: 9px;
  line-height: 1.5;
}

.valign-middle {
  vertical-align: middle;
}

.table__row {
  background-color: #fff;
}

.table__row:nth-child(2n-1) {
  background-color: $shallow-grey-2;
}

.turner {
  margin-left: auto;
}
.turner,
.turner__indicator {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
}

.turner__btn {
  width: 27px;
  height: 27px;
  text-align: center;
}

.turner__btn:nth-child(3n - 2) {
  margin-right: 5px;
}

.turner__indicator {
  margin-left: 10px;
  margin-right: 10px;
}

.turner__indicator__input {
  max-width: 28px;
  padding: 4px 6px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}
