@import "../common.scss";
.menu-wraper {
  position: fixed;
  top: 40px;
  left: 0;
  bottom: 0;
  width: 185px;
  height: 100%;
  padding-top: 12px;
  color: #fff;
  background-color: $deep-blue-2;
  overflow: hidden;
  transition: width 0.2s ease-in;
}

.sider-folder {
  padding: 12px 9px;
  font-size: 15px;
  cursor: pointer;
  white-space: nowrap;
}

.sider-folder::before {
  content: " ";
  display: inline-block;
  width: 22px;
  height: 22px;

  margin-right: 9px;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #fff;
}
