$shallow-blue-1: #00b9eb;
$shallow-blue-2: #00a0d2;
$normal-blue-1: #0073aa;
$deep-blue-1: #23282d;
$deep-blue-2: #191e23;
$trans-grey-1: #f5f0fa;
$shallow-grey-1: #fafafa;
$shallow-grey-2: #f9f9f9;
$shallow-grey-3: #f1f1f1;
$normal-grey-1: #f7f7f7;
$normal-grey-2: #cccccc;
$deep-grey-1: #999999;
$deep-grey-2: #555555;

.btn-1 {
  display: inline-block;
  color: $normal-blue-1;
  background-color: $normal-grey-1;
  padding: 6px 9px;
  border: 1px solid $normal-grey-2;
  border-radius: 2px;
}

.btn-1:hover {
  color: #fff;
  background-color: $shallow-blue-2;
  border-color: $shallow-blue-2;
}

.btn-1:active,
.btn-1:focus {
  border-color: $shallow-blue-2;
  outline: $shallow-blue-2;
  box-shadow: 0 0 2px 0 $shallow-blue-2;
}

.btn-2 {
  display: inline-block;
  color: $deep-grey-2;
  background-color: $normal-grey-1;
  padding: 6px 9px;
  border: 1px solid $normal-grey-2;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 $normal-grey-2;
}

.btn-2:hover {
  background-color: $shallow-grey-1;
}

.btn-2:focus {
  outline: $shallow-blue-2;
  box-shadow: 0 0 2px 0 $shallow-blue-2;
}

.btn-2:active {
  box-shadow: 0 1px 0 0 $normal-grey-2, inset 0 1px 2px 0 $normal-grey-2;
}

.btn-2--blue {
  display: inline-block;
  color: #fff;
  padding: 6px 9px;
  background-color: $shallow-blue-2;
  border: 1px solid $normal-grey-2;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 $normal-grey-2;
}

.btn-2--blue:hover {
  background-color: $shallow-blue-1;
}

.btn-2--blue:focus {
  outline: $shallow-blue-2;
  box-shadow: 0 0 2px 0 $shallow-blue-2;
}

.btn-2--blue:active {
  background-color: $shallow-blue-2;
  box-shadow: 0 1px 0 0 $normal-grey-2;
}

.normal-link,
.delete {
  cursor: pointer;
}

.normal-link {
  color: $shallow-blue-2;
  text-decoration: none;
}

.normal-link:hover {
  color: $shallow-blue-1;
}

.normal-link:active,
.normal-link:focus {
  color: $shallow-blue-2;
  box-shadow: 0 0 2px 0 $shallow-blue-2;
}

.delete {
  color: #aa4444;
}

.delete:hover {
  color: #dc3232;
}

.delete:active,
.delete:focus {
  color: #aa4444;
  box-shadow: 0 0 2px 0 #aa4444;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 24.99%;
}

.col-4 {
  width: 33.32%;
}

.col-5 {
  width: 41.65%;
}

.col-6 {
  width: 49.98%;
}

.col-7 {
  width: 58.31%;
}

.col-8 {
  width: 66.64%;
}

.col-9 {
  width: 74.97%;
}

.col-10 {
  width: 83.3%;
}

.col-11 {
  width: 91.63%;
}

.col-12 {
  width: 100%;
}
